.container {
  position: relative;
  margin: 0;
}
span {
  color: #3d61b2;
}
.penguin {
  height: 520px;
}
.oil-spill {
  height: 520.5px;
  margin-top: -543px;
  margin-left: 391px;
}
.mainlogo {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  position: absolute;
}
button img {
  width: 50px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5.5em;
  color: black;
  margin-top: -50px;
  letter-spacing: 5px;
}
.subtext {
  font-size: 2em;
  color: black;
  margin-top: -10px;
  float: right;
  margin-right: 40px;
}
.text-over-imgs {
  margin-top: 10px;
  z-index: -3;
}

p {
  color: rgb(255, 255, 255);
  opacity: 100%;
}

.the-issue {
  justify-content: left;
  background-color: black;
  opacity: 50%;
  width: 900px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -400px;
  margin-left: 200px;
  line-height: 3em;
  font-size: 0.7em;
  position: absolute;
}
.footer {
  background-color: #3d61b2;
  text-align: center;
  margin-top: 300px;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}
a {
  color: white;
}
