/* .main-swaddle-container {
  background-color: #3d61b2;
  margin-top: -24px;
  margin-left: -52px;
  margin-right: -52px;
  padding-bottom: 250px;
} */
.main-container {
  background-color: #c66353;
  margin-top: -24px;
  margin-left: -52px;
  margin-right: -52px;
}
.register {
  text-align: center;
  color: white;
}
.register-form {
  width: 50%;
  margin-right: 30px;
}
.suggestion {
  text-align: center;
}
.swaddle-text {
  color: white;
  margin-top: 32px;
  letter-spacing: 2px;
  width: 100%;
}
.swaddleee {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
