h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5em;
}

.mainlogo {
  height: 150px;
  width: 150px;
  margin-top: 50px;
  z-index: 1;
}

.front-page-photo {
  width: 800px;
  margin-top: -224px;
  margin-left: -67px;
  z-index: 0;
}
