.background {
  background-color: #3d61b2;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
span {
  margin-left: 1300px;
  color: white;
  font-size: 3em;
}

.brand-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 5em;
  color: white;
}
.brand-subtext {
  color: white;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: white;
}

.mainlogo {
  height: 200px;
  width: 200px;
  margin-top: 50px;
  z-index: 1;
  position: relative;
}

.front-page-photo {
  width: 800px;
  margin-top: -224px;
  margin-left: -67px;
  z-index: 0;
}
