h1 {
  font-family: "candida";
}

p {
  font-family: "candida";
  font-style: italic;
}
.donate {
  background-color: #3d61b2;
  width: 100vw;
  height: 100vh;
  margin-top: -24px;
  margin-left: -67px;
}
