#preview {
  border: solid;
  width: 40%;
}
.clickalbeIMG:hover {
  border: solid;
  border-color: yellow;
}
.clickalbeIMG:active {
  border: solid;
  border-color: green;
}

.clickalbeIMG {
  width: 100px;
  border: none;
}

.form-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
