#preview {
  border-color: #3d61b2;
  border-style: dashed;
  border-width: 1vh;
  width: 40%;
}
#greeting {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 2em;
}
#title {
  font-family: "candida";
  margin-top: 50px;
  font-size: 4em;
  margin-bottom: 50px;
}
.clickalbeIMG:hover {
  border-color: white;
  border-width: 0.3vh;
  border-style: dashed;
}
.clickalbeIMG:active {
  border-color: #3d61b2;
  border-width: 0.3vh;
  border-style: dashed;
}

.clickalbeIMG {
  width: 100px;
  border: none;
}

.form-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
label {
  color: white;
}

button {
  background-color: #c66353;
  padding: 0.3vw;
  border-radius: 10px;
  border: none;
  color: white;
  margin: 0.5vw;
}

button:hover {
  background-color: #c66353;
  border: solid;
  border-color: #3d61b2;
  color: white;
  text-decoration: none;
}

button:active {
  background-color: #c66353;
  border: solid;
  border-color: #c66353;
  color: white;
  text-decoration: none;
}
a:focus,
a:hover {
  color: white;
  text-decoration: none;
}
.swaddle {
  background-color: #c66353;
  width: 100vw;
  height: 100vh;
  margin-top: -24px;
  margin-left: -67px;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
